.Vector {
    width: 243px;
    height: 1024px;
    background-image: linear-gradient(to top, #1fab89, #75c5f0);
  }

  .Sidebar-bg {
    width: 243px;
    height: 1024px;
    background-color: #13244e;
  }

  .Group-13 {
    width: 137px;
    height: 32px;
    object-fit: contain;
    margin-right: 74px;
    margin-top: 24px;
    margin-left: 32px;
  }

  .MenuiconHome {
    width: 16px;
    height: 16px;
    object-fit: contain;
  }
  .dashboard-menu ul{
    list-style: none;
    margin-left: 20px;
    margin-right: 40px;
    padding: 0;
  }
  .dashboard-menu {
      margin-top: 48px;
  }

    .dashboard-menu li {
        margin-top: 24px;
        margin-left: -10px;
    }
.dashboard-menu a{
    margin-left: 40px;
    margin-top: 24px;
    margin-bottom: 8px;
}



li.active{
  width: 211px;
  height: 36px;
  border-radius: 4px;
  background-color: #0093dd;
}

li.active span{
  margin-bottom: -10px;
}

.dashboard-menu span{
    margin-left: 10px;
    margin-top: 10px;
}

  .Dashboard {
    width: 71px;
    height: 20px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;
  }
  .Budget {
    width: 47px;
    height: 20px;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;

  }

  .MenuiconRequests {
    width: 16px;
    height: 16px;
    object-fit: contain;
  }

  .MenuiconApproval {
    width: 13.3px;
    height: 13.3px;
    object-fit: contain;
  }
  