<div class="Rectangle-22">
        <div class="header">
                <img src="../../../assets/Group 10791.png"
                srcset="../../../assets/Group 10791.png 2x,
                ../../../assets/Group 10791.png 3x"
                class="Group-10790">
                <span class="Total-Annual-CAPEX-Budget">
                        Pending Budget Reassignment Status
                </span>
        </div>
        <div class="Rectangle-31 mt-2 mx-4 d-flex justify-content-center align-items-center">
            <span class="number">
                200
            </span>
        </div>
</div>
