<div class="row">
  <div class="col">
      <app-dashboard></app-dashboard>
  </div>
  <div class="col">
            <app-nav-bar></app-nav-bar>
              <div class="header">
                  <app-header></app-header>
                </div>
                <div class="box">
                    <div class="row">
                        <div class="col-8">
                          <app-rectangle-one></app-rectangle-one>
                          <app-rectangle-two></app-rectangle-two>
                        </div>
                        <div class="col-4">
                          <app-rectangle-three></app-rectangle-three>
                          <app-rectangle-four></app-rectangle-four>
                          <app-rectangle-five></app-rectangle-five>
                        </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <app-rectangle-six></app-rectangle-six>
                  </div>
                  <div class="col-6">
                    <app-rectangle-seven></app-rectangle-seven>
                  </div>
                </div>
          </div>
  </div>
</div>



