 <div class="Navbar">
        <nav class="navbar navbar-expand">
                <a href="" class="navbar-brand">
                        <img src="../../../assets/home.png"
                         srcset="../../../assets/home@2x.png,
                         ../../../assets/home@3x.png"
                         class="home">
                    </a>
        <ul class="navbar-nav ml-auto">
        <li class=" mx-2 my-2">
                <a href="">
                        <img src="../../../assets/Group 98.png"
                         srcset="../../../assets/Group 98.png 2x,
                         ../../../assets/Group 98.png 3x"
                         class="home">
                    </a>
                    </li>
                    <li class="mx-2 my-2">
                            <div class="text-center">
                                    <span class="Bidemi-Yusuf">Bidemi Yusuf</span> 
                                    <span class="Executive d-block">
                                         Executive
                                    </span>
                            </div> 
                    </li>
                <li class=" mx-2 my-3">
                    <a class=" dropdown-toggle d-inline" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </a>
                </li>
    </ul>
</nav>
 </div>



