<div class="Rectangle-21">
    <div class="header">
            <img src="../../../assets/Group 10792.png"
            srcset="../../../assets/Group 10792.png 2x,
            ../../../assets/Group 10792.png 3x"
            class="Group-10790">
            <span class="Total-Annual-CAPEX-Budget">
                    Total Annual CAPEX Budget
            </span>
            <span class="Rectangle-24 text-center p-1">
             N 50,000,000
            </span>
            <span class="Rectangle-27">
                <p class="d-inline Annual">Annual</p>
                <a class=" dropdown-toggle d-inline" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </a>
            </span>
    </div>
    <div class="row">
        <div class="col-6 circle">
                    <div class="percent d-flex justify-content-center align-items-center text-center" >
                            <svg>
                                <circle cx = "65" cy="65" r ="65"></circle>
                                <circle cx = "65" cy="65" r ="65"></circle>
                            </svg>
                            <div class="percentage d-flex justify-content-center align-items-center">
                                    <div class="d-block">
                                        <h3 class="">64%</h3>
                                        <span>REMAINING</span>
                                    </div>
                            </div>
                        </div>
               
        </div>
        <div class="col-6">
            <div class="mt-4 mx-2" >
                    <div class="row">
                        <div class="col-2">
                                <img src="../../../assets/Group 10795.png"
                                srcset="../../../assets/Group 10795.png 2x,
                                ../../../assets/Group 10795.png 3x"
                                class="Group-10798">
                        </div>
                        <div class="col-10">
                                <span class="Total-CAPEX-Spent">Total <strong>CAPEX</strong> Spent</span>
                                <span class="d-block mt-1 N-18000000">N 18,000,000</span>
                        </div>
                    </div>
            </div>
            <div class="mt-4 mx-2" >
                    <div class="row">
                            <div class="col-2">
                                    <img src="../../../assets/Group 10796.png"
                                    srcset="../../../assets/Group 10796.png 2x,
                                    ../../../assets/Group 10796.png 3x"
                                    class="Group-10798">
                            </div>
                            <div class="col-10">
                                    <span class="Total-CAPEX-Spent">Total <strong>CAPEX</strong> Balance </span>
                                    <span class="d-block mt-1 N-18000000">N 32,000,000</span>
                            </div>
                        </div>
            </div>  
        </div>
    </div>
</div>